cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
gspread==6.1.3
httplib2==0.22.0
idna==3.10
image-quality==1.2.7
imageio==2.36.0
lazy_loader==0.4
libsvm==3.23.0.4
networkx==3.4.1
numpy==2.1.2
oauth2client==4.1.3
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
praw==7.7.1
prawcore==2.4.0
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
pyzbar==0.1.9
qrcode==8.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.24.0
scipy==1.14.1
six==1.16.0
tifffile==2024.9.20
update-checker==0.18.0
uritemplate==4.1.1
urllib3==2.2.3
websocket-client==1.8.0
